[Unit]
Description=Check PVE ZFS pool capacity every five minutes

[Timer]
OnCalendar=*-*-* *:0/5:00
Persistent=true
AccuracySec=30s
Unit=pve-storage-capacity-monitor.service

[Install]
WantedBy=timers.target
